streamlit
scikit-learn>=1.4.0
numpy>=1.26,<3
pillow
sentence_transformers
nltk
spacy>=3.0.0,<4.0.0 
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
